<script src="/javascripts/index.js"></script>
<link rel='stylesheet' href="/stylesheets/style.css" />


<div class="container">
    <div class="row">
        <div class="col" id="articles">
        </div>


        <div class="col">
            <h3 class="noteHeader">Notes</h3>
            <div id="notes"></div>
        </div>

    </div>
</div>
